# 编译产物
*.o
*.obj
*.exe
*.dll
*.lib
*.axf
*.elf
*.map
*.htm
*.dep
*.d
*.lst
*.crf
*.lnp
*.sct.bak

# Keil编译输出
**/Objects/
**/Listings/
**/Execute/*.bin
**/Execute/*.hex

# .NET编译输出
**/bin/
**/obj/

# VS临时文件
.vs/

# 系统文件
Thumbs.db
desktop.ini
.DS_Store

# PDF文档（太大）
*.pdf
